.service {
  display: flex;
  margin-top: 0px;
  width: 100%;
  height: auto;
  background: #000c28;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  overflow: hidden;
}

.service-hori .con-rec h1 {
  color: #fcb61a;
}




.service-digital .home-des p:first-of-type {
  text-shadow: 0px -1px 5.3px #73708E40;
}

.service-digital-cards {
  margin-top: 40px;
}

.service-digital-cards div:nth-child(1) .home-cards {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20em;
}

.service-digital-cards div:nth-child(1) .home-cards:nth-child(2) {
  margin-left: 90px;
}

.service-digital-cards div:nth-child(2) .home-cards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 12em;
}


.service-soft-eng-cards .home-card:hover {
  transform: none;
  transition: none;
}

.service-soft-eng-cards .card-desc {
  border-radius: none;
  background-color: transparent;
  border-color: none;
  border-width: 0px;
}

.service-soft-eng-cards .home-card:hover .card-desc {
  box-shadow: none;
}

.service-soft-eng-cards .home-card:hover .card-desc-a {
  color: #013dc4;
}
