.service {
  display: flex;
  margin-top: 0px;
  width: 100%;
  height: auto;
  background: #000c28;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  overflow: hidden;
}
.service-hori .con-rec h1 {
  color: #fcb61a;
}
.service-soft-eng {
  margin-top: 150px;
}

.service-soft-eng .home-des {
  width: 100%;
  margin-top: 10px;
}
.service-soft-eng-lay-pic1 {
  position: relative;
  z-index: 1;
  margin-right: -45px;
  width: 330px;
  height: 460px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/502e/5752/2d8524b84e452b4fdc8586e7468efab0?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Fzk3F0R3A9IUl3-wLpT473P4Dzn2fCSkySMvbU9eZg-34cN3PpH15zVjQ0fzLFFkEeRTjYl9FcSQZZfNNqZH4T1UmU-jPYGCIuvgcMTD4-uD5xmloI~fAXMv5d6SjQiYOoxl2XFxWQ1imgcpuWc~k6hfc57S8Mmd9KM-WoRjWdjvlAOXOK7mWsMnHoO0uDrMo8Inqnl6iOkDHRM-2FBlbJBVSby0StCHroZZYphUzxATaQimZxVR1qEdewK1p-G32flTB2EccesgG44Ya8GU85Jtyp3L-Cin3wXx0Dor3Ctp9HOzYNpEd-JSUPFrl7bAPnWNFIgPpcZH-q7P2vV2hw__");
  border-radius: 10px;
}
.service-soft-eng-lay-pic2 {
  margin-right: -45px;
  width: 430px;
  height: 660px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/bb72/605b/4beb73dd3841b7b8a12b6836ea62e4ea?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nAYXBGP8fYc8iVtDfO4j4gp9fZdRFre~o9RE0Mt-ZYnuKK~x5r9MBhElJWctu0HszakcBtpnPksJSqZ2IhWkJxLN8s4SzR3lbA0YS7XUvQf06RBAf4ix~sPTIx0sljnOreV4I51Wtnv4jiE~tCOP82R1ZmZqU0YBw28GgU-UDcZCvV2p9~LQoGV6Xh-NUDkL~0nqYO-iEAfF7ahH1ZsdKJYZ0x6HQTI3D0GaUlq5S6esoL5rtj4VnBZnoJ3~ziJrjKMxV1b-S3P1YXOw6ly0CImbBaCxZKCiScp3lHfui7Uc53HZlCSEw3zyHVzUoUXlcC68OyIMZGLVBw-qEXqc6Q__");
  border-radius: 10px;
}
.service-digital .home-des p:first-of-type {
  text-shadow: 0px -1px 5.3px #73708E40; 
}
