@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home-des {
  background: "radial-gradient(circle at 50% 50%, rgba(14, 20, 96, 1) 4%, rgba(0, 13, 41, 1) 45%)";
}
.home-card:hover .home-card-inner {
  box-shadow: 0px 0px 23.9px 0px rgba(1, 61, 196, 0.41);
}

.home-card:hover {
  transform: translatey(-10px);
  transition: transform 0.5s ease;
}
.home-card:hover .card-desc-a {
  color: #fcb61a;
}

.home-card:hover .card-desc-a svg {
  transition: transform 0.3s ease;
}
.home-card:hover .card-desc-a svg {
  transform: rotate(45deg);
}

.home-card:hover .card-desc {
  box-shadow: 0px 0px 23.9px 0px rgba(1, 61, 196, 0.41);
}
.our-proj-inner {
  padding: 0% 5%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.our-proj-cards {
  width: 100%;
  padding: 0% 5%;
  column-gap: 3em;
}

.our-proj-card-des-but {
  border-radius: 100%;
  background: #000;
  padding: 2px;
}

.expert-desc .home-des {
  width: 60%;
}

.exper-car-butt {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 0.8em;
}
.exper-carousel-but {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-tech-carous {
  margin-top: 100px;
}
.home-tech-carous-card {
  background-color: #001035;
  padding: 20px;
  width: 100%;
  border-width: 1px;
  border-color: rgba(1, 61, 196, 1);
  border-radius: 5px;
  padding-bottom: 20px;
}
.home-tech-carous-card:hover {
  box-shadow: 0px 0px 23.9px 0px rgba(1, 61, 196, 0.41);
}
.home-tech-card-div {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(1, 61, 196, 1);
  background-color: rgba(0, 16, 53, 1);
  border-radius: 5px;
}
.home-tech-carous-card:hover .home-tech-card-div {
  box-shadow: 0px 0px 23.9px 0px rgba(1, 61, 196, 0.41);
}

.new-art-card:hover {
  box-shadow: 0px 0px 23.9px 0px rgba(1, 61, 196, 0.41);
}
.new-art-card:hover .new-art-card-img {
  box-shadow: 0px 0px 23.9px 0px rgba(1, 61, 196, 0.41);
}

.home-testimonial {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
}

.home-testimonial-inner {
  width: 100%;
  box-shadow: 0px 0px 23.9px 0px rgba(1, 61, 196, 0.41);
  border: 1px solid rgba(1, 61, 196, 1);
  background-color: #011037;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.our-proj-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.our-proj-card-des {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.our-proj-card-des {
  transform: rotateY(180deg);
}
